<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Market</title>
    <link rel="stylesheet" href="../../../css/style.css" />
  </head>
  <body class="primary">
    <div class="container-login">
      <div class="card-login">
        <h3>Forgot Password</h3>
        <form action="#" method="post" id="formForgotPassword">
        <div class="form-login">
          <input type="text" placeholder="Email" id="email">
          <p id="error-massage"></p>
          <button type="submit">Send</button>
          <a href="index.html" class="register">Kembali</a>
        </div>
      </form>
    </div>
  </div>
  <script src="../../../js/auth/ForgotPassword.js"></script>
  </body>
</html>
