<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Market</title>
    <link rel="stylesheet" href="../../../css/style.css" />
  </head>
  <body class="primary">
    <div class="container-login">
      <div class="card-login">
        <h3>Register</h3>
        <form action="index.html" method="post" id="formRegister">
          <div class="form-login">
            <input type="text" placeholder="Name" id="name" />
            <input type="text" placeholder="TTL" id="ttl" />
            <input type="text" placeholder="Gender" id="gender" />
            <input type="text" placeholder="Nomor HP" id="nomorhp" />
            <input type="text" placeholder="Email" id="email" />
            <input type="text" placeholder="Username" id="username" />
            <input type="text" placeholder="Password" id="password" />
            <p id="error-massage"></p>
            <button type="submit">Register</button>
            <a href="index.html" class="register">Kembali</a>
          </div>
        </form>
      </div>
    </div>
    <script src="../../../js/auth/Register.js"></script>
  </body>
</html>
