<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../css/output.css" rel="stylesheet" />
  </head>
  <body
    class="bg-violet-950 grid justify-items-center content-center "
  >
    <div class="bg-white p-10 rounded-lg my-32">
      <div class="grid grid-flow-row auto-rows-max">
        <div class="text-center pb-4">
          <h1 class="text-4xl">Login</h1>
        </div>
        <form action="" method="post">
          <div class="w-96 flex my-8 ">
            <div class="w-32 grid content-center">
              <label for="email">Email</label>
            </div>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="w-96 flex my-8">
            <div class="w-32 grid content-center">
              <label for="password">Password</label>
            </div>
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Password"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="grid justify-items-end my-4">
            <a href="./LupaPassowrd.html">Lupa password</a>
          </div>
          <div class="grid justify-items-center">
            <button
              type="button"
              class="bg-violet-950 text-white p-3 rounded-lg px-8"
            >
              Login
            </button>
            <div class="grid justify-items-center mt-10">
              <a href="./Register.html">Daftarkan Akun Baru</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
