<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-violet-950 grid justify-items-center content-center">
    <div class="bg-white p-10 rounded-lg my-32">
      <div class="grid grid-flow-row auto-rows-max">
        <div class="text-center pb-4">
          <h1 class="text-4xl">Password diubah</h1>
        </div>
        <form action="./Login.html" method="post">
          <div class="w-96 flex my-8">
            <div class="w-32 grid content-center">
              <label for="password_baru">Password baru</label>
            </div>
            <input
              type="text"
              name="password_baru"
              id="password_baru"
              placeholder="Password Baru"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="w-96 flex my-8">
            <div class="w-32 grid content-center">
              <label for="password_baru">Password Konfirmasi</label>
            </div>
            <input
              type="text"
              name="password_konfirmasi"
              id="password_konfirmasi"
              placeholder="Password Konfirmasi"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="grid justify-items-center">
            <button
              type="submit"
              class="bg-violet-950 text-white p-3 rounded-lg px-8"
            >
              Lanjutkan
            </button>
            <div class="grid justify-items-center mt-10">
              <a href="./Login.html">Kembali Akun</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
