<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../css/output.css" rel="stylesheet" />
  </head>
  <body class="bg-violet-950 grid justify-items-center content-center">
    <div class="bg-white p-10 rounded-lg my-32">
      <div class="grid grid-flow-row auto-rows-max">
        <div class="text-center pb-4">
          <h1 class="text-4xl">Daftarkan Akun Baru</h1>
        </div>
        <form action="" method="post">
          <div class="flex my-8">
            <div class="pr-16 grid content-center">
              <label for="nama">Nama</label>
            </div>

            <input
              type="text"
              name="nama_depan"
              id="nama"
              placeholder="Nama Depan"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full mr-2"
            />
            <input
              type="text"
              name="nama_belakang"
              id="nama"
              placeholder="Nama Belakang"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full ml-2"
            />
          </div>
          <div class="flex my-8">
            <div class="pr-20 grid content-center">
              <label for="ttl">TTL</label>
            </div>

            <input
              type="text"
              name="tempat_lahir"
              id="ttl"
              placeholder="Tempat Lahir"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full mr-2"
            />
            <input
              type="date"
              name="tanggal_lahir"
              id="ttl"
              placeholder="Tanggal Lahir"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full ml-2"
            />
          </div>

          <div class="flex my-8">
            <div class="w-32 grid content-center">
              <label for="nomor_hp">Nomor HP</label>
            </div>
            <input
              type="number"
              name="nomor_hp"
              id="nomor_hp"
              placeholder="Nomor HP"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="flex my-8">
            <div class="w-32 grid content-center">
              <label for="email">Email</label>
            </div>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Email"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="flex my-8">
            <div class="w-32 grid content-center">
              <label for="password">Password</label>
            </div>
            <input
              type="text"
              name="password"
              id="password"
              placeholder="Password"
              class="bg-slate-200 h-10 rounded-lg p-5 w-full"
            />
          </div>
          <div class="grid justify-items-center">
            <button
              type="button"
              class="bg-violet-950 text-white p-3 rounded-lg px-8"
            >
              Daftarkan Akun baru
            </button>
            <div class="grid justify-items-center mt-10">
              <a href="./Login.html">Kembali Akun login</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
